{% include "blocks/header.html" %}
<main class="page-body">

  <header class="static-header faq">
    <div class="wrap">
      <h1 class="static-header-title"></h1>
    </div>
  </header>
  <div class="hdr_fq">
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <p>Chicago Dish Removal Service</p>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Do we remove other types of communications equipment ?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Chicago Dish Removal will remove all items that fall under the categories: Dish, Antenna, Satellite Dish,
              Communications Equipment, etc....
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                How do I book an appointment ?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Use the website booking page to schedule a date and time that you want the satellite dish removed from
              your property. We will then take care of the rest
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Do I need to be present for the technicians to complete the dish removal ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              No. Once you have set an order, we will remove the item from the building at the designated time, and
              provide an order completed recipt by email. So you an set the appointment and forget about it, we will
              take care of the rest.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                When will my card be charged ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              We will charge the card payment after the dish removal job has been completed. At completion the payment
              will be submitted for services.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                What will the holes be filled with ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              We use a silicone caulk to fill the holes left by the satellite.
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% include "blocks/footer.html" %}
</body>


</html>