{% include "blocks/header.html" %}
<main class="page-body">
  <div class="landing-hero">
    <div class="landing-hero__graphic"></div>
    <div class="landing-hero__content">
      <div class="landing-hero__content-inner">
        <div class="wrap">
          <div class="landing-hero__main">
            <h1>Chicago Dish Removal<br>Fast and Efficient Removal</h1>
            <h2>Book a same-day Dish Removal or set an appointment your best date and time.<br>Contactless service
              available.</h2>
            <div class="available-collections">
              <div class="landing-hero__van"><img src="/static/img/delivery-van.svg" alt="Delivery van" /></div>
              <div class="available-collections__select">Available Dish Removals<a
                  class="available-collections__other-locations" href="#countries">&nbsp;Chicago<i
                    class="icon-arrow-down-bold"></i></a></div>
              <div class="available-collections__options"><a class=" btn btn-s btn-inverse btn-green timeslot"
                  href="/booking?country=US&amp;language=en">Next 45 mins</a><a
                  class=" btn btn-s btn-inverse btn-green timeslot"
                  href="/booking?country=US&amp;language=en">09:00am</a>
                <div class="available-collections__ellipsis"><span>&hellip;</span></div><a
                  class=" btn btn-s btn-inverse btn-green timeslot"
                  href="/booking?country=US&amp;language=en">07:00pm</a><a
                  class=" btn btn-s btn-fancy btn-green timeslot" href="/booking?country=US&amp;language=en">
                  <div class="btn__text"><span>See all</span><i class="icon-arrow-regular"></i></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="landing-hero__footer">
          <div class="wrap"><img src="/static/img/map-with-pin.svg" alt="Map with pin" />Not in Chicago?<br> Check
            availability&nbsp;<a href="#countries">in your
              City!</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-press-strip text-center">
    <div class="press-link"><img style="width: 200px" src="/static/img/deloitte.png" alt="Deloitte" /></div>
    <div class="press-link"><img style="width: 200px" src="/static/img/lloyds.png" alt="Lloyds" /></div>
    <div class="press-link"><img style="width: 200px" src="/static/img/the-telegraph.png" alt="The telegraph" /></div>
    <div class="press-link"><img style="width: 200px" src="/static/img/evening-standard-bbc.png" alt="chicago" />
    </div>
  </div>
  <div class="landing-trustpilot">
    <div class="landing-trustpilot__trophy"><img
        src="/static/img/chicagoflag.eps"
        alt="Trophy color" /></div>
    <div class="landing-trustpilot__text">Chicago Dish Removal is <strong>ranked #1</strong> by customers in category
      <strong>Dish Removal</strong>.<div class="landing-trustpilot__rating">
        <div class="trustpilot-widget" data-businessunit-id="568a82500000ff0005872fa1" data-locale="en-GB"
          data-style-height="auto" data-style-width="100%" data-template-id="5419b6ffb0d04a076446a9af"
          data-theme="light" v-show="state === &#39;idle&#39;"></div>
      </div>
    </div>
  </div>
  <hr class="blue-divider" /><a id="home-howitworks"></a>
  <div class="landing-how-it-works">
    <h2>How it works</h2>
    <h3>We remove those pesky satellite dishes from your home</h3>
    <div class="wrap">
      <div class="landing-how-it-works__steps">
        <div class="landing-how-it-works__step">
          <div class="landing-how-it-works__step-image"><img src="/static/img/how_it_works_schedule2.jpg"
              alt="How it works schedule" /></div>
          <div class="landing-how-it-works__step-content">
            <h4>Schedule an appointment</h4>
            <p>Easily choose appointment &amp; times at your convenience, including late evenings and
              weekends.</p>
          </div>
        </div>
        <div class="landing-how-it-works__arrow"><img src="/static/img/arrow-right-color.svg" alt="Arrow right color" />
        </div>
        <div class="landing-how-it-works__step">
          <div class="landing-how-it-works__step-image"><img src="/static/img/how_it_works_driver2.jpg"
              alt="How it works driver" /></div>
          <div class="landing-how-it-works__step-content">
            <h4>A Technician Arrives</h4>
            <p>Our Technicians arrive at the location to remove the dishes and satellites with the utmost care to
              ensure great
              results.</p>
          </div>
        </div>
        <div class="landing-how-it-works__arrow"><img src="/static/img/arrow-right-color.svg" alt="Arrow right color" />
        </div>
        <div class="landing-how-it-works__step">
          <div class="landing-how-it-works__step-image"><img src="/static/img/how_it_works_delivery1.jpg"
              alt="How it works delivery" /></div>
          <div class="landing-how-it-works__step-content">
            <h4>Get a Dish Free Property</h4>
            <p>We work fast to remove the dishes and satellites in one hour or less. Contactless delivery available.
            </p>
          </div>
        </div>
      </div>
      <div class="landing-how-it-works__cta"><a class="btn btn-green btn-fancy btn-m"
          href="/booking?country=US&amp;language=en">
          <div class="btn__text"><span>Schedule a Dish Removal</span><i class="icon-arrow-regular"></i></div>
        </a></div>
    </div>
  </div><a id="home-prices"></a>
  <div class="landing-what-we-offer">
    <h2>What we offer</h2>
    <h3>Our services &amp; prices</h3>
    <div class="wrap">
      <div class="landing-what-we-offer__offers nudge js-slider" data-controls=".landing-what-we-offer__slider-controls"
        data-index="0">
        <div class="landing-what-we-offer__offer">
          <div class="landing-what-we-offer__offer-image"><img src="/static/img/service-laundry-washed-color.svg"
              alt="Service laundry washed color" /></div>
          <h4>One Dish or Satellite Removal</h4>
          <p>Removal of any dish or satellite</p>
          <div class="landing-what-we-offer__from">only</div>
          <div class="landing-what-we-offer__price">$149.99</div>
          <div class="landing-what-we-offer__unit">per 1 Removal</div>
          <div class="landing-what-we-offer__ribbon"><i class="icon-check-inverted"></i>Best price
            <strong>guarantee</strong></div>
        </div>
        <div class="landing-what-we-offer__offer">
          <div class="landing-what-we-offer__offer-image"><img src="/static/img/service-laundry-ironed-color.svg"
              alt="Service laundry ironed color" /></div>
          <h4>For Each Additional Dish</h4>
          <p>After the first removal, each additional removal is a small add on &amp;</p>
          <div class="landing-what-we-offer__from">from</div>
          <div class="landing-what-we-offer__price">$49.99</div>
          <div class="landing-what-we-offer__unit">per item</div>
          <div class="landing-what-we-offer__ribbon"><i class="icon-check-inverted"></i>Best price
            <strong>guarantee</strong></div>
        </div>
        <div class="landing-what-we-offer__offer">
          <div class="landing-what-we-offer__offer-image"><img
              src="https://cdn.DishRemoval.com/production/assets/landing/service-laundry-ironed-color-afc32401fdd61a3e30e4b95fa9d1f7f73f34857e30fac9617cfe4d6386f856b6.svg"
              alt="Chicago Dish Removal Service" /></div>
          <h4>Luxury Finish</h4>
          <p>For owners that want the left over bolting holes to be blended into the building facade. &amp;</p>
          <div class="landing-what-we-offer__from">from</div>
          <div class="landing-what-we-offer__price">$299.99</div>
          <div class="landing-what-we-offer__unit">per item</div>
          <div class="landing-what-we-offer__ribbon"><i class="icon-check-inverted"></i>Best price
            <strong>guarantee</strong></div>
        </div>

      </div>
      <div class="landing-what-we-offer__slider-controls hide-desktop">
        <div class="landing-what-we-offer__slider-control active js-slider-control" data-index="0"
          data-target=".landing-what-we-offer__offers"></div>
        <div class="landing-what-we-offer__slider-control js-slider-control" data-index="1"
          data-target=".landing-what-we-offer__offers"></div>
        <div class="landing-what-we-offer__slider-control js-slider-control" data-index="2"
          data-target=".landing-what-we-offer__offers"></div>
      </div>
      <div class="landing-what-we-offer--cta"><a class=" btn btn-primary btn-fancy btn-m"
          href="/booking?country=US&amp;language=en">
          <div class="btn__text"><i class="icon-price-regular"></i><span>Schedule an Appointment today</span></div>
        </a></div>
    </div>
  </div>
  <hr class="blue-divider" />
  <div class="landing-reviews">
    <h2>A Dish Removal company you can trust</h2>
    <h3>Read what our customers say about Chicago Dish Removal</h3>
    <div class="wrap">
      <div class="landing-review__slider-left js-slider-left" data-target=".landing-review__list"><i
          class="icon-arrow-left-bold"></i></div>
      <div class="landing-review__slider-right js-slider-right" data-target=".landing-review__list"><i
          class="icon-arrow-right-bold"></i></div>
      <div class="landing-review__list nudge js-slider" data-controls=".landing-review__slider-controls" data-index="0">
        <div class="landing-review__item">
          <div class="landing-review__avatar"><img
              src="https://user-images.trustpilot.com/5d8e9695f378d11c58b31cbc/73x73.png" alt="73x73" /></div>
          <div class="landing-review__name">Stanley Phillips</div>
          <div class="landing-review__rating"><img src="/static/img/rating-trustpilot.svg" alt="Rating trustpilot" />
          </div>
          <div class="landing-review__text">Good service and friendly. Friendly technician and he was also very
            punctual
          </div>
          <div class="landing-review__platform-logo logo-brand-trustpilot"><img src="/static/img/brand-trustpilot.png"
              alt="Brand trustpilot" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar">
            <div class="landing-review__user-initial">N</div>
          </div>
          <div class="landing-review__name">james einsley</div>
          <div class="landing-review__rating"><img src="/static/img/rating-google-play.svg" alt="Rating google play" />
          </div>
          <div class="landing-review__text">Exceptional service, great communication, amazing experience. Will be
            using again and sharing with my friends</div>
          <div class="landing-review__platform-logo logo-brand-google-play"><img src="/static/img/brand-google-play.png"
              alt="Brand google play" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar">
            <div class="landing-review__user-initial">K</div>
          </div>
          <div class="landing-review__name">Amy Branden</div>
          <div class="landing-review__rating"><img src="/static/img/rating-appstore.svg" alt="Rating appstore" /></div>
          <div class="landing-review__text">First time I have used Chicago dish removal, but it won't be the
            last.<br>A very
            convenient and fast service.</div>
          <div class="landing-review__platform-logo logo-brand-appstore"><img src="/static/img/brand-appstore.png"
              alt="Brand appstore" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar"><img
              src="https://user-images.trustpilot.com/5d8b9eaac4bfcce45d166528/73x73.png" alt="73x73" /></div>
          <div class="landing-review__name">Stacy Harmon</div>
          <div class="landing-review__rating"><img src="/static/img/rating-trustpilot.svg" alt="Rating trustpilot" />
          </div>
          <div class="landing-review__text">Chicago Dish Removal is efficient, quick, reliable, well priced and
            acommondating. Excellent Service.</div>
          <div class="landing-review__platform-logo logo-brand-trustpilot"><img src="/static/img/brand-trustpilot.png"
              alt="Brand trustpilot" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar">
            <div class="landing-review__user-initial">S</div>
          </div>
          <div class="landing-review__name">Scott</div>
          <div class="landing-review__rating"><img src="/static/img/rating-trustpilot.svg" alt="Rating trustpilot" />
          </div>
          <div class="landing-review__text">I had three dishes on my building that looked awful. There was only one
            service that was fast and effective and getting rid of them</div>
          <div class="landing-review__platform-logo logo-brand-trustpilot"><img src="/static/img/brand-trustpilot.png"
              alt="Brand trustpilot" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar"><img
              src="https://lh3.googleusercontent.com/a-/AAuE7mC2ZpMhy1dqlVlOuKHaB9l93XxlQTtc3zI5PbIftQ=w96-h96-n-rw"
              alt="Aaue7mc2zpmhy1dqlvloukhab9l93xxlqttc3zi5pbiftq=w96 h96 n rw" /></div>
          <div class="landing-review__name">Josh Weikurg</div>
          <div class="landing-review__rating"><img src="/static/img/rating-google-play.svg" alt="Rating google play" />
          </div>
          <div class="landing-review__text">Professional Dish Removal Service. Easy to setup, building was dish free
            by the next day with minimal fuss. Recommended.</div>
          <div class="landing-review__platform-logo logo-brand-google-play"><img src="/static/img/brand-google-play.png"
              alt="Brand google play" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar">
            <div class="landing-review__user-initial">M</div>
          </div>
          <div class="landing-review__name">Max pheronti</div>
          <div class="landing-review__rating"><img src="/static/img/rating-google-play.svg" alt="Rating google play" />
          </div>
          <div class="landing-review__text">Really easy to use. Very pleased.</div>
          <div class="landing-review__platform-logo logo-brand-google-play"><img src="/static/img/brand-google-play.png"
              alt="Brand google play" /></div>
        </div>
        <div class="landing-review__item">
          <div class="landing-review__avatar"><img
              src="https://lh3.googleusercontent.com/a-/AAuE7mDhPtwibU3HfWWmBr0cpUc4LQqWls1W1wTB8J6xuQ=w96-h96-n-rw"
              alt="Aaue7mdhptwibu3hfwwmbr0cpuc4lqqwls1w1wtb8j6xuq=w96 h96 n rw" /></div>
          <div class="landing-review__name">Kelly Tavares</div>
          <div class="landing-review__rating"><img src="/static/img/rating-google-play.svg" alt="Rating google play" />
          </div>
          <div class="landing-review__text">Great option for us. We work and dont have time to remove dishes from our
            home. We set the appointment and did not have to be there while they removed the satellites</div>
          <div class="landing-review__platform-logo logo-brand-google-play"><img src="/static/img/brand-google-play.png"
              alt="Brand google play" /></div>
        </div>
      </div>
      <div class="landing-review__slider-controls">
        <div class="landing-review__slider-control js-slider-control active" data-index="0"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="1"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="2"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="3"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="4"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="5"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="6"
          data-target=".landing-review__list"></div>
        <div class="landing-review__slider-control js-slider-control" data-index="7"
          data-target=".landing-review__list"></div>
      </div>
      <div class="landing-reviews__cta"><a class="btn btn-green btn-fancy btn-m"
          href="/booking?country=US&amp;language=en">
          <div class="btn__text"><span>Schedule an Appointment Here</span><i class="icon-arrow-regular"></i></div>
        </a></div>
    </div>
  </div>
  <hr class="divider" />
  <div class="landing-our-promise">
    <h2>Our promise</h2>
    <h3>We are working hard to earn your trust.</h3>
    <div class="wrap">
      <div class="landing-our-promise__body">
        <div class="landing-our-promise__items">
          <div class="landing-our-promise__item"><img style="width: 47px; height: 48px"
              src="/static/img/heart-unselecteddual.svg" alt="Heart unselecteddual" />
            <div>
              <h4 class="landing-our-promise__item-title">100% Happiness Guarantee</h4>
              <p class="landing-our-promise__item-description">If you&#39;re not completely satisfied with your dish
                removal, we will give you a full refund!</p>
            </div>
          </div>
          <div class="landing-our-promise__item"><img
              style="width: 63px;height: 48px;display: inline-block;margin-left: -16px;"
              src="/static/img/coundown-dual.svg" alt="Coundown dual" />
            <div>
              <h4 class="landing-our-promise__item-title">It&#39;s fast!</h4>
              <p class="landing-our-promise__item-description">We can arrive, disassemble, &amp; and remove your dish
                in less than 24 hours.
              </p>
            </div>
          </div>
          <div class="landing-our-promise__item"><img style="width: 47px; height: 47px"
              src="/static/img/green-route-dual.svg" alt="Green route dual" />
            <div>
              <h4 class="landing-our-promise__item-title">Cleaner &amp; Greener</h4>
              <p class="landing-our-promise__item-description">We work with the environment in mind.</p>
            </div>
          </div>
          <div class="landing-our-promise__item"><img style="width: 47px; height: 48px"
              src="/static/img/check-circle-thin-dual.svg" alt="Check circle thin dual" />
            <div>
              <h4 class="landing-our-promise__item-title">High quality</h4>
              <p class="landing-our-promise__item-description">We work to with certified technicians to ensure qaulity
                work, everytime!</p>
            </div>
          </div>
        </div>
        <div class="landing-our-promise__image"><img class="lazy" src="/static/img/lazy_placeholder.gif"
            data-src="/static/img/photo-promise.jpg" alt="Photo promise" /></div>
      </div>
    </div>
  </div>


  <div class="landing-ready-to-start">
    <div class="landing-ready-to-start__van" id="landingVan"><img src="/static/img/delivery-van.svg"
        alt="Delivery van" /></div>
    <h2>Ready to start?</h2>
    <h3>Enter your postcode and schedule an appointment.</h3>
    <div class="landing-ready-to-start__cta"><a class=" btn btn-green btn-inverse btn-fancy btn-m"
        href="/booking?country=US&amp;language=en">
        <div class="btn__text"><span>Schedule an appointment now</span><i class="icon-arrow-regular"></i></div>
      </a></div>
  </div>
  <script>
    $(document).on("scroll", function () {
        $("#landingVan").attr("style", "left: " + ($(window).width() - ($("#landingVan").offset().top - $(window).scrollTop())) + "px");
    });
  </script>


</main>
{% include "blocks/footer.html" %}
</body>


</html>